
.negro{
    background: black;
}
.fondo{
width: 1000px;
height: 600px;
margin: 0 auto;
border: 2px solid black;
position: relative;
}

.jugador{
background:black;
height:100px;
width: 20px;
position: absolute;
}



