body{
    background:grey;
    background-repeat: no-repeat;

}

.startgame{
    text-align: center;
    border-radius: 25%;
}

.fondo{
width: 1000px;
height: 600px;
margin: 0 auto;
background-image: url("../img/fondo1.jpg");
border: 5px solid black;
position: relative;
margin-top:70px;
}

.jugador{
background-image: url("../img/minions.png");
background-repeat: no-repeat;
background-size: 40px;
position: absolute;

}

.pelota{
    background-image: url("../img/ironhack.png");
    background-repeat: no-repeat;
    background-size: 39px;
    position: absolute; 

}
.bloque{
  background-image: url("https://tstoaddicts.files.wordpress.com/2015/06/unlock_homer_referee.png");
  background-repeat: no-repeat;
  background-size: 40px;
}

button{
    border-radius: 10px;;
    border:2px solid black;
    padding-right: 50px;
    padding-left: 50px;
}
button h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}





