body{
    background:grey;
    background-repeat: no-repeat;

    
}
.fondo{
width: 1000px;
height: 600px;
margin: 0 auto;
background-image: url("../img/fondo1.jpg");
border: 5px solid black;
position: relative;
margin-top:70px;
}

.jugador{
background:black;
/* border-radius: 50%; */
position: absolute;

}

.pelota{
    background: black;
    border-radius: 50%;
    position: absolute;
}
.bloque{
  background:black;
}
.startgame{
    text-align: center;
}






